body {
  margin: 0;
  padding: 0;
}

h3.username {
	color: white;
}

h2 {
	color: white;
}

.loginBackground {
	background-image: url("burning-airlines.png");
}

.chair{
  text-align: center;
  line-height: 40px;
  display: inline-block;
  border: solid red 1px;
  min-width: 30px;
}

.chairButton{
  width: 100px;
  height: 60px;
}

.btn{
    border-radius: 1em 1em 0 0 !important;
    margin: 5px !important;
}

span {
	padding: 5px;
  word-spacing: 10px
}
